.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 1rem;
}

.noResults {
  padding: 2rem;
  text-align: center;
  font-style: italic;
  color: #888;
}
